.zig-zag-pattern {
  --color01: #444cf7;
  --color02: #444cf777;
  --bg-color: #e5e5f7;
  background-color: var(--bg-color);
  opacity: 0.8;
  background-image: linear-gradient(
      30deg,
      var(--color01) 12%,
      transparent 12.5%,
      transparent 87%,
      var(--color01) 87.5%,
      var(--color01)
    ),
    linear-gradient(
      150deg,
      var(--color01) 12%,
      transparent 12.5%,
      transparent 87%,
      var(--color01) 87.5%,
      var(--color01)
    ),
    linear-gradient(
      30deg,
      var(--color01) 12%,
      transparent 12.5%,
      transparent 87%,
      var(--color01) 87.5%,
      var(--color01)
    ),
    linear-gradient(
      150deg,
      var(--color01) 12%,
      transparent 12.5%,
      transparent 87%,
      var(--color01) 87.5%,
      var(--color01)
    ),
    linear-gradient(
      60deg,
      var(--color02) 25%,
      transparent 25.5%,
      transparent 75%,
      var(--color02) 75%,
      var(--color02)
    ),
    linear-gradient(
      60deg,
      var(--color02) 25%,
      transparent 25.5%,
      transparent 75%,
      var(--color02) 75%,
      var(--color02)
    );
  background-size: 58px 102px;
  background-position: 0 0, 0 0, 29px 51px, 29px 51px, 0 0, 29px 51px;
}
